<div class='hero'>

  <div class='hero-text col-md-10 col-md-offset-1'>
    <h1>Centers for Spiritual Living<br /> Online Education</h1>
    <br >
    <h2>Path to Practitioner Studies</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>