<div class='hero'>

  <div class='hero-text col-md-10 col-md-offset-1'>
    <h1>Centers for Spiritual Living<br /> Online Education</h1>
    <br >
    <h2>Path to Practitioner Studies</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  </div>
</div>

<div class='features col-md-10 col-md-offset-1'>
  <div class='col-sm-4'>
    <h3>Foundations</h3>
    <p>
    This is the entry-level course in the study of the Science of Mind. It is a prerequisite for all
    other courses.<br /><br />
    You will be introducted to the basics of the Science of Mind, meditation, affirmative prayer, visioning,
    and other Universal Spiritual Principles and Practices.
    </p>
  </div>
  <div class='col-sm-4'>
    <h3>History & Philosophy</h3>
    <p>
    Truth lives on through the works of the authors and spiritual pioneers that we study: Ralph Waldo Emerson, Judge Thomas Troward, and Emma Curtis Hopkins.
     <br /><br />
    You will also delve into the writings of Dr. Ernest Holmes. His love of people, and his facility for seeing past their problems into the heart of their eternal being, blends modern psychology with humankind’s limitless ability to choose what to think and to feel, and therefore make changes in their lives.
    </p>
  </div>
  <div class='col-sm-4'>
    <h3>Consciousness</h3>
    <p>
    The Consciousness courses include:
      <ul>
        <li>The Edinburg Lectures</li>
        <li>Creative Process in the Individual</li>
        <li>Treatment and Meditation</li>
        <li>Power of Your Word</li>
        <li>Building a Healing Consciousness</li>
        <li>Meditation is More Than You Think</li>
        <li>Practical Mysticism</li>
        <li>Self Mastery: The Emergency of the True Self</li>
      </ul>
    </p>
  </div>
</div>