<div class='booyah-box privacy col-md-10 col-md-offset-1'>
  <h1 class='text-center'>Privacy Policy for csl.org</h1>
  <br />
  <p>
    My Firehose Project Flixter is based opon the content of the Centers for Spiritual Living Online Education website at
    <a href='http://csl.org/onlineclasses/'>csl.org/onlineclasses</a>. <br /><br />
  
    The parent website for the online courses - <a href='http://csl.org'>csl.org</a> - is under the following Copyright: <br />

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Science of Mind® is a registered U.S. trademark of SOMARK, INC. and all rights are reserved.<br />
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    The CSL template website and its branded content are copyrighted by SOMARK, INC and all rights are reserved.<br />
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    ©2014 Centers for Spiritual Living. All rights reserved.<br /><br />

    I am a member of this wonderful organization, and I have completed four online certificated courses. <br /><br />

    The organization of the online classes website and the content within the courses provided the inspiration for my
    Flixter project. Since the actual course material is under Copyright, I have downloaded free stock videos from
    PEXELS videos at <a href='https://videos.pexels.com/'>videos.pexels.com</a>. Enjoy them!<br /><br />

    It is not my intention to violate property rights.<br /> <br />

    Namaste,<br />
    Marcia
  </p>

</div>