<div class='booyah-box col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1'>
  <h1 class='text-center'>Path to Practitioner</h1>
  <% @courses.each do |course| %>
    <h2 class='text-center'>
      <%= link_to course.title, course_path(course) %></h2>
    <div class='col-sm-8 col-xs-12'>
      <%= safe_join(course.description.split("\r\n"), "<br />".html_safe) %>
    </div>
    <div class='col-sm-4 col-xs-12 text-center'>
      <img src='<%= course.image %>' class='img-responsive' alt='Responsive image' style='width: 260px'>
      <%= link_to 'More Details > >', course_path(course), class: 'btn btn-primary btn-large' %>
    </div>
    <div class='clear'></div>
  <% end %>
</div>