@import "bootstrap-sprockets";
@import "bootstrap";



/* - - - - -     NAVBAR     - - - - - */
.navbar {
  background: url('/assets/lgren051.jpg');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}   /* .navbar */

.navbar-default a.navbar-brand {
    font-family: 'fira_sanssemibold_italic', sans-serif;
    color: DarkGreen;
    font-size: 40px;
    font-weight: bold;
}   /* .navbar-default a.navbar-brand */

/* - - - - -     DEVISE: User Authentication     - - - - - */
/* copied from nomster */
login_text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}
.email, .password {
  color: #0000ff;
  margin-top: 5px;
}
#user_email, #user_password {
  color: black;
}
.login_text a {
  color: #0000e6;
}
.hint {
  color: black;
  font-size: 14px;
}

/* - - - - -     ROOT PAGE - views/static_pages/index.html.css     - - - - - */
.hero {
  height: 350px;
  background-image: url('/assets/hero.jpg');
  background-repeat: no-repeat no-repeat;  /* round (first value) repeats image larger screens. Single image on smaller */
  background-attachment: scroll;
  background-size: 100% 350px;   /* width, height */
  -webkit-background-size: 100% 350px;
  -moz-background-size: 100% 350px;
  -o-background-size: 100% 350px; 
  background-position: center top;   /* horizontal, vertical */
  box-shadow: 0px 3px 8px #003300;   /* very, very dark green */
  margin-bottom: 30px;

  .hero-text {
    margin-top: 80px;
    background: rgba(51,26,0, .5);   /* #331a00 - dark brown * 51,26,0, .5 */
    color: #f3f3d8;   /* off-white. 90% from white */
    text-align: center;
    text-shadow: rgba(0,0,0, .95) 1px 2px;

    h1 {
      font-family: 'fira_sansbook_italic', sans-serif;
      line-height: 50px;
    }
    h2{
      font-family: 'fira_sansbook', sans-serif;
    }
  }
}   /* end class .hero */

.features {
  h3 {
    text-align: center;
    font-family: 'fira_sansbook_italic', sans-serif;
    margin-bottom: 8px;

  }
  p, ul, li {
    font-family: 'fira_sansbook', sans-serif;
    font-size: 16px;
  }
}

/* - - - - -     Courses Details Page views/courses/show.html.erb     - - - - - */
.course-image-summary {
  border: 3px solid pink;
}

.course-description {
  border: 3px solid purple;
}

.course-breakout {
  padding-top: 10px;

  .course-section {
    background-color: #fff2e6;
    border: 1px solid;
    border-color: #ffad66 #ffbb80 #ffbb80 #ffad66;   /* grey. 89, 74, 74, 89% */ 
    margin: 10px 0 10px 0;
    padding: 8px;
    font-family: 'fira_sansmedium_italic', sans-serif;

    .course-section-header {
      font-size: 24px;
    }

    .glyphicon-option-vertical {
      color: #663500;   /* 20% brown */
      font-size: 20px;
    }
  }   /* end course-section */

  .course-lesson, .lessons li {
    background-color: #663300;  /* 20% brown */
    margin: 10px 0;
    padding: 5px;

    color: white;
    font-family: 'firasans_regular', sans-serif;
    font-size: 16px;

    b { font-size: 20px; }

    /* a required for student lessons - change link from blue to white */
    a {
      color: white;
    }

    .glyphicon-option-vertical {
      color: #ffcc99;   /* light brown */
    }
  }   /* end course-lesson */

  .lessons li {
    margin-right: 8.3%;
    margin-right: 10.0%;
  }
}   /* end course-breakout */

/* - - - - -     USER DASHBOARD: enrolled and instructing courses     - - - - - */








/* - - - - -     INSTRUCTOR Courses Details Page views/courses/show.html.erb     - - - - - */
.new-lesson-button {

}



/*
.lessons li {
  background: #663300;
  color: white;
  margin: 10px;
  padding: 8px;
  font-size: 16px;

  b { font-size: 20px; }

  .glyphicon.glyphicon-option-vertical {
    color: yellow;
    font-size: 12px;
  }
}
*/

/* THIS WORKS FOR INSTRUCTOR LESSONS
<ul class='lessons'>
              <% section.lessons.rank(:row_order).each do |lesson| %>
                <li data-update-url="<%= instructor_lesson_path(lesson) %>" class='course-lesson'>
                   <div class='col-xs-1'>
                   <span class='glyphicon glyphicon-option-vertical'></span>
                 </div>
                  <div class='col-xs-11'>
                   <p><b><%= lesson.title %></b></p>
                   <p><%= lesson.subtitle %></p>
                 </div>
                 <br class='clear' />
               </li>
             <% end %>
            </ul>
*/            

/*
    font-family: 'fira_sansbold';
    font-family: 'fira_sansbold_italic';
    font-family: 'fira_sansbook';
    font-family: 'fira_sansbook_italic';
    font-family: 'fira_sanseight';
    font-family: 'fira_sanseight_italic';
    font-family: 'fira_sansextrabold';
    font-family: 'fira_sansextrabold_italic';
    font-family: 'fira_sansextralight';
    font-family: 'fira_sansextralight_italic';
    font-family: 'fira_sansfour';
    font-family: 'fira_sansfour_italic';
    font-family: 'fira_sanshair';
    font-family: 'fira_sanshair_italic';
    font-family: 'fira_sansheavy';
    font-family: 'fira_sansheavy_italic';
    font-family: 'fira_sansitalic';
    font-family: 'fira_sanslight';
    font-family: 'fira_sanslight_italic';
    font-family: 'fira_sansmedium';
    font-family: 'fira_sansmedium_italic';
    font-family: 'fira_sansregular';
    font-family: 'fira_sanssemibold';
    font-family: 'fira_sanssemibold_italic';
    font-family: 'fira_sansthin';
    font-family: 'fira_sansthin_italic';
    font-family: 'fira_sanstwo';
    font-family: 'fira_sanstwo_italic';
    font-family: 'fira_sansultra';
    font-family: 'fira_sansultra_italic';
    font-family: 'fira_sansultralight';
    font-family: 'fira_sansultralight_italic';
*/

/* - - - - -     GLOBAL Styles: classes & tags     - - - - - */
/* - - - - - booyah-box     - - - - - */
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;           /* 82% grey */
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;                                 /* white */
  border: 1px solid #ccc;                           /*  80% grey */
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;    /* greys: 89%, 74%, 74%, 89% */
  padding: 10px;

  h1, h2 {
    margin: 10px;
  }
}

.alert-danger, .alert-info {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 8px;
  margin: 10px
}

.clear {
  clear:both;
}

.btn {
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

ul {
  list-style-type: none;
}

hr {
  color: brown;
  background-color: brown;
  height: 3px;
  margin-top: 5px;
}

body {
  background: url('/assets/asanoha-400px.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, 
               "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
