@import "bootstrap-sprockets";
@import "bootstrap";

/* - - - - -     NAVBAR     - - - - - */
.navbar {
  background: url('/assets/lgren051.jpg');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}   /* .navbar */

.navbar-default a.navbar-brand {
    font-family: 'fira_sanssemibold_italic', sans-serif;
    color: DarkGreen;
    font-size: 40px;
    font-weight: bold;
}   /* .navbar-default a.navbar-brand */

.navbar-default .navbar-nav > li > a {
  color: rgb(128,128,128);
  font-family: 'fira_sansmedium', sans-serif;
}

.navbar-default .navbar-blurb {
  font-family: 'fira_sansitalic',sans-serif;
  font-color: #808080;
  font-size: 12px;
  text-align: center;
  margin: 0 4% 8px 4%;
}

/* - - - - -     DEVISE: User Authentication     - - - - - */
/* copied from nomster */
login_text {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}
.email, .password {
  color: #0000ff;
  margin-top: 5px;
}
#user_email, #user_password {
  color: black;
}
.login_text a {
  color: #0000e6;
}
.hint {
  color: black;
  font-size: 14px;
}

/* - - - - -     ROOT PAGE - views/static_pages/index.html.css     - - - - - */
.hero {
  height: 350px;
  background-image: url('/assets/hero.jpg');
  background-repeat: no-repeat no-repeat;  /* round (first value) repeats image larger screens. Single image on smaller */
  background-attachment: scroll;
  background-size: 100% 350px;   /* width, height */
  -webkit-background-size: 100% 350px;
  -moz-background-size: 100% 350px;
  -o-background-size: 100% 350px; 
  background-position: center top;   /* horizontal, vertical */
  box-shadow: 0px 3px 8px #003300;   /* very, very dark green */
  margin-bottom: 30px;

  .hero-text {
    margin-top: 80px;
    background: rgba(51,26,0, .5);   /* #331a00 - dark brown * 51,26,0, .5 */
    color: #f3f3d8;   /* off-white. 90% from white */
    text-align: center;
    text-shadow: rgba(0,0,0, .95) 1px 2px;

    h1 {
      font-family: 'fira_sansbook_italic', sans-serif;
      line-height: 50px;
    }
    h2{
      font-family: 'fira_sansbook', sans-serif;
    }
  }
}   /* end class .hero */

.features {
  h3 {
    text-align: center;
    font-family: 'fira_sansbook_italic', sans-serif;
    margin-bottom: 8px;

  }
  p, ul, li {
    font-family: 'fira_sansbook', sans-serif;
    font-size: 16px;
  }
  p { text-align: justify; }
  ul { text-align: left; }
  li {
    list-style-type: square;
    margin: 5px 0;
  }

}

/* - - - - -     Courses Details Page views/courses/show.html.erb     - - - - - */
.course-image-summary {
  .label {
    height: 30px;   /* same as .flixter-btn */
    color: black;
    font-size: 16px;
    font-weight: 100;
    border: 1px solid #737373;
    padding-top: .35em;  /* centers in middle vertically. use default for other padding */
    vertical-align: middle;
  }

  .course-cost.label {
    background-color: rgba(0,153,51,0.2);
  }
  .course-enroll.label {
    background-color: rgba(191,191,191,0.4);
  }
}

.course-description {
  
}

.course-breakout {
  padding-top: 10px;

  .course-section {
    background-color: #f2f2f2;
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;   /* light greys */
    margin: 10px 0 10px 0;
    padding: 8px;
    font-family: 'fira_sansmedium_italic', sans-serif;

    .course-section-header {
      font-size: 24px;
    }

    .glyphicon-option-vertical {
      color: #333333;
      font-size: 20px;
    }
  }   /* end course-section */

  .course-lesson, .lessons li {
    background-color: #404040;  /* darker grey */
    margin: 10px 0;
    padding: 5px;

    color: white;
    font-family: 'firasans_regular', sans-serif;
    font-size: 16px;

    b { font-size: 20px; }

    /* a required for student lessons - change link from blue to white */
    a {
      color: white;
    }

    .glyphicon-option-vertical {
      color: #cccccc; 
    }
  }   /* end course-lesson */

  .lessons li {
    margin-right: 8.3%;
    margin-right: 10.0%;
  }
}   /* end course-breakout */



/* - - - - -     Privacy Page views/static_pages/privacy.html.erb     - - - - - */
.privacy {
  margin-top: 20px;
  font-size: 16px;
  border: 3px solid DarkGreen; 
}

/* - - - - -     Student Lessons Page views/lessons/show.html.erb     - - - - - */
.video-box {
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* - - - - -     GLOBAL Styles: classes & tags     - - - - - */
/* - - - - - booyah-box     - - - - - */
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;           /* 82% grey */
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;                                 /* white */
  border: 1px solid #ccc;                           /*  80% grey */
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;    /* greys: 89%, 74%, 74%, 89% */
  padding: 10px;

  h1, h2 {
    margin: 10px;
  }
}

.alert-danger, .alert-info {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.field_with_errors {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 8px;
  margin: 10px
}

.clear {
  clear:both;
}

/* - - - - - Custom Buttons (.btn)     - - - - - */
.btn {
  border-radius: 0;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #ffffb3;   /* yellow. default was black */
}

.btn-flixter {
  box-sizing: border-box;
  border-radius: 4px;
  border-color: black;
  padding: 0 12px;
  height: 30px;
  *background-color: #1275ff; /* Stripe Blue */
  font-family: "fira_sansmedium",sans-serif;;
  font-size: 16px;
  text-align: middle;
  /* vertical-align: center; */
  line-height: 30px;
  text-shadow: 0 -1px 0, rgba(0,0,0,0.25);
}

.btn-hero {
  color: white;
  background-color: #00cc00;
}

.btn-enroll {
  color: white;
  background-color: green;
}

.btn-instructor {
  color: white;
  background-color: red;
}

.btn-add {
  color: white;
  background-color: #2e6da4;
}

.btn-preview {
  color: white;
  background-color: #ff8000; 
}

.btn-next {
  color: white;
  background-color: #595959;
}


.modal {
  position: fixed;
  top: 15%;

  .modal-title {
    color: #2e6da4;
    font-family: 'fira_sansmedium_italic', sans-serif;
    font-size: 24px;
    text-align: center;
  }
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h1, h2 {
  font-family: 'fira_sansmedium_italic', sans-serif;
}

h3 {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

hr {
  color: #404040;
  background-color: #404040;
  height: 3px;
  margin: 5px 0;
}

body {
  background: url('/assets/asanoha-400px.png');
  /* font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, 
               "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; */
  font-family: 'fira_sansregular', non-serif;
}

